
.button {
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.game{
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}



body {
   background-color: lightyellow !important;
}
.navbar{
    direction: rtl;
}
.ques-sec{
  margin: 15px 0;
  padding: 15px;
  background-color: #28a74533;
  border: solid 2px lavender;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
